<% if flash[:notice].present? %>
  <div class="alert alert-success alert-dismissible">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <p id="notice"><%= flash[:notice] %></p>
  </div>
<% end %>
 
 <span><%= link_to edit_admin_productdetail_path,class: 'btn btn-sucess float-right mt-1 mr-1' do %>
            <i class="fas fa-edit"></i>
          <% end %></span>
<section class="content">
  <div class="card card-solid">
    <div class="card-body">
      <div class="row">
        <div class="col-12 col-sm-6">
          <h3 class="d-inline-block d-sm-none"><%= @productdetails.product_title %></h3>
          <div class="col-12">
            <div class="carousel-container">
              <!-- Carousel -->
              <div id="productCarousel" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                  <% @productdetails.images.each_with_index do |image, index| %>
                    <li data-target="#productCarousel" data-slide-to="<%= index %>" <%= 'class="active"' if index == 0 %>></li>
                  <% end %>
                </ol>

                <!-- Carousel items -->
                <div class="carousel-inner">
                  <% @productdetails.images.each_with_index do |image, index| %>
                    <div class="carousel-item <%= 'active' if index == 0 %>">
                      <%= image_tag image.variant(resize_to_limit: [700, 700]), class: 'd-block w-100',style:" height:600px;" %>
                    </div>
                  <% end %>
                </div>

                <!-- Carousel controls -->
                <a class="carousel-control-prev" href="#productCarousel" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#productCarousel" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
              </div>
            </div>
          </div>

          <!-- Image Gallery for Thumbnails -->
          <div class="image-gallery d-flex flex-row  flex-wrap mt-2">
            <% @productdetails.images.each_with_index do |image, index| %>
              <div class="gallery-image ml-3">
                <%= image_tag image.variant(resize_to_limit: [100, 100]), class: 'gallery-thumbnail', 'data-slide_to' => index.to_s, style:"width:75px; height:100px; margin-top:5px;" %>
              </div>
            <% end %>
          </div>
        </div>

        <div class="col-12 col-sm-6">
          <h3 class="my-3"><%= @productdetails.product_title %></h3>
          
          <% @productdetails.attributes.each do |attr, value| %>
            <% if attr.to_sym == :image || attr.to_sym == :feature_image_id || attr.to_sym == :description || attr.to_sym == :currency || attr.to_sym == :vendor_id %>
              <% next %>
            <% end %>
          
            <p>
              <strong><%= attr.to_s.humanize %>:</strong>
              <% if attr.to_sym == :status %>
                <%= value ? 'Active' : 'Draft' %>
              <% else %>
                <%= value %>
              <% end %>
            </p>
       
          
          
           
          <% end %>
          <p> Description:
          <%= @productdetails.description.body.to_s.html_safe %>
          </p>
        </div>
        
      </div>
    </div>
  </div>
</section>

<style>
  .gallery-image:hover {
    border: 2px solid pink;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  }
</style>
