
<p id="notice"><%= alert %></p>
    <!-- Humberger Begin -->
    <div class="humberger__menu__overlay"></div>
    <div class="humberger__menu__wrapper">
        <div class="humberger__menu__logo">
            
            <%= image_tag "customer/logo.png" %>
     
        </div>
        <div class="humberger__menu__cart">
        <ul>
                                  
        <li><%= link_to cart_path(@current_cart), data: { turbolinks: false } do %><i class="fa fa-shopping-bag"> <span><%= @current_cart.total_quantity %> </span></i><% end %></li>

        
       </ul>
           
        </div>
        <div class="humberger__menu__widget">
            <div class="header__top__right__language">
                <img src="img/language.png" alt="">
          
               
            </div>
            <div class="header__top__right__auth">
            <% if customer_signed_in? %>
                            <%= link_to destroy_customer_session_path, method: :delete, data: { confirm: "Are you sure you want to log out?" } do %>
                                <i class="fa fa-user"></i> Log Out
                              <% end %>
                            <% else %>
                              <%= link_to new_customer_session_path do %>
                                <i class="fa fa-user"></i> Login
                              <% end %>
                            <% end %>
          </div>
          
        </div>
        <nav class="humberger__menu__nav mobile-menu">
            <ul>
            <li class="active"><%= link_to "Home", root_path, data: { turbolinks: false } %></li>

            <li>< <%= link_to "Products", products_path, data: { turbolinks: false } %>/li>
                
            <li><%= link_to "Blog", blog_path, data: { turbolinks: false } %></li>
            <li><%= link_to "Contact", contact_path, data: { turbolinks: false } %></li>
            </ul>
        </nav>
        <div id="mobile-menu-wrap"></div>
        <div class="header__top__right__social">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
            <a href="#"><i class="fa fa-pinterest-p"></i></a>
        </div>
        <div class="humberger__menu__contact">
        <ul>
          <% if current_customer %>
            <li><i class="fa fa-envelope"></i> <%= current_customer.email %></li>
          <% else %>
            <li><i class="fa fa-envelope"></i> hello@colorlib.com</li>
            <div class="header__top__right__auth">
            <% if current_customer %>
              <li><%= link_to "My Orders", my_orders_path, style: "color: black;" %></li>
            <% end %>
        </div>
          <% end %>
          <!-- Additional list items if needed -->
        </ul>
      </div>
      
    </div>
    <!-- Humberger End -->

    <!-- Header Section Begin -->
    <header class="header" style="margin-top: -24px">
        <div class="header__top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="header__top__left">
                        <ul>
                        <% if current_customer %>
                          <li><i class="fa fa-envelope"></i> <%= current_customer.email %></li>
                        <% else %>
                          <li><i class="fa fa-envelope"></i> hello@colorlib.com</li>
                        <% end %>
                        <div class="header__top__right__auth">
                        <% if current_customer %>
                          <li><%= link_to "My Orders", my_orders_path, style: "color: black;" %></li>
                        <% end %>
                    </div>
                        <!-- Additional list items if needed -->
                      </ul>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="header__top__right">
                            <div class="header__top__right__social">
                                <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                <i class="fa fa-twitter" aria-hidden="true"></i>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                                <a href="#"><i class="fa fa-pinterest-p"></i></a>
                                <i class="fa-brands fa-instagram"></i>
                            </div>
                             
                            <div class="header__top__right__auth">
                            <% if customer_signed_in? %>
                            <%= link_to destroy_customer_session_path, method: :delete, data: { confirm: "Are you sure you want to log out?" } do %>
                                <i class="fa fa-user"></i> Log Out
                              <% end %>
                            <% else %>
                              <%= link_to new_customer_session_path do %>
                                <i class="fa fa-user"></i> Login
                              <% end %>
                            <% end %>
                              
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="header__logo">
                   

                        <%= image_tag "customer/logo.png" %>
                    </div>
                </div>
                <div class="col-lg-6">
                    <nav class="header__menu">
                        <ul>
                        <li class="active"><%= link_to "Home", root_path, data: { turbolinks: false } %></li>
                        <li ><%= link_to "Products", products_path, data: { turbolinks: false } %></li>
                            
                        <li><%= link_to "Blog", blog_path, data: { turbolinks: false } %></li>
                        <li><%= link_to "Contact", contact_path, data: { turbolinks: false } %></li>
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-3">
                    <div class="header__cart">
                    <ul>
                
                    <li><%= link_to cart_path(@current_cart), data: { turbolinks: false } do %><i class="fa fa-shopping-bag"> <span><%= @current_cart.total_quantity %> </span></i><% end %></li>

                    
                </ul>
               
               
              
           
                       
                    </div>
                </div>
            </div>
            <div class="humberger__open">
            <i class="fa fa-bars"></i>
            </div>
        </div>
    </header>
    <!-- Header Section End -->

    <!-- Hero Section Begin -->
    <section class="hero">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="hero__categories">
                        <div class="hero__categories__all">
                        <i class="fa fa-bars" aria-hidden="true"></i>
                        <i class="fa-solid fa-bars"></i>
                            <span>All Vendors</span>
                        </div>
                        <ul>
                        <% @vendors.each do |vendor| %>
                        
                          <li>
                          <%= link_to vendor.first_name, product_vendor_path(vendor) %>
                        </li>
                        
        
                        <% end %>
                      </ul>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="hero__search">
                        <div class="hero__search__form">
                            <form action="#">
                                
                            <%= search_form_for @q, url: root_path do |f| %>
                                <%= f.text_field :product_title_cont, placeholder: "What do you need" %>
                              
                                <%= f.submit "Search" %>
                                
                              
                            <% end %>
                            </form>
                        </div>
                        <div class="hero__search__phone">
                            <div class="hero__search__phone__icon">
                                <i class="fa fa-phone"></i>
                            </div>
                            <div class="hero__search__phone__text">
                                <h5>+65 11.188.888</h5>
                                <span>support 24/7 time</span>
                            </div>
                        </div>
                    </div>
                    <div class="hero__item set-bg" data-setbg="img/hero/banner.jpg">
                   

                        <div class="hero__text">
                            <span>Best Product</span>
                            <h2>Clothes <br />100% Cotton</h2>
                            <p>Free Pickup and Delivery Available</p>
                            <%= link_to products_path, class: "primary-btn", data: { turbolinks: false } do %>
                                SHOP NOW
                              <% end %>
                              
                    
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Hero Section End -->

    <!-- Categories Section Begin -->
    <section class="categories">
        <div class="container">
            <div class="row">
                <div class="categories__slider owl-carousel owl-carousel1">
                <% @productdetails.includes(:vendor).take(5).each do |productdetail| %>
                    <div class="col-lg-3">
                    <% if productdetail.images.attached? && productdetail.feature_image.present? %>
                    <% image_url = url_for(productdetail.feature_image) %>
                  <% else %>
                    <% if productdetail.images.attached? %>
                      <% image_url = url_for(productdetail.images.first) %>
                    <% else %>
                      <% image_url = asset_path('avtar1.png') %>
                    <% end %>
                  <% end %>
                    <div class="categories__item set-bg" data-setbg="<%= image_url %>">
                            <h5><a href="#">New Arrival</a></h5>
                        </div>
                    </div>

                    <% end %>
                    
                    
                    
                    
                </div>
            </div>
        </div>
    </section>
    <!-- Categories Section End -->

    <!-- Featured Section Begin -->
    <section class="featured spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <h2>Featured Product</h2>
                    </div>
                    <div class="featured__controls">
                        <ul>
                           
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row featured__filter">
            
             <% @productdetails.includes(:vendor).each do |productdetail| %>
              <div class="col-lg-3 col-md-4 col-sm-6 mix oranges fresh-meat">
                <div class="featured__item">
                  <% if productdetail.images.attached? && productdetail.feature_image.present? %>
                    <% image_url = url_for(productdetail.feature_image) %>
                  <% else %>
                    <% if productdetail.images.attached? %>
                      <% image_url = url_for(productdetail.images.first) %>
                    <% else %>
                      <% image_url = asset_path('avtar1.png') %>
                    <% end %>
                  <% end %>
                  <div class="featured__item__pic set-bg" data-setbg="<%= image_url %>">
                    <ul class="featured__item__pic__hover">
                      <li><a href="#"><i class="fa fa-heart"></i></a></li>
                     
                     
                      <% if productdetail.images.attached? %>
                      <li><%= link_to product_path(productdetail) , data: { turbolinks: false }  do %>
                        <i class="fa fa-shopping-cart"></i>
                      <% end %></li>
                    <% end %>

                    </ul>
                  </div>
                  <div class="featured__item__text">
                    <h6><%= productdetail.product_title %></h6>
                  
                    <h5 class="product-price" data-original-price="<%= productdetail.price %>"> $<%= productdetail.price %> </h5>
                  </div>
                </div>
              </div>
             <% end %>
            </div>
          
          
                
               
               
               
                
          
        </div>
    </section>
    <!-- Featured Section End -->

   

    <!-- Latest Product Section Begin -->
    <section class="latest-product spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                  <div class="latest-product__text">
                      <h4>Latest Products</h4>
                        <div class="latest-product__slider owl-carousel">
                            <% @productdetails.includes(:vendor).limit(6).each_slice(3) do |products_row| %>
                                <div class="latest-prdouct__slider__item">
                                <% products_row.each do |product| %>
                                    <a href="<%= product_path(product) %>" class="latest-product__item" data-turbolinks="false">
                                    <div class="latest-product__item__pic">
                                        <% if product.images.attached? && product.feature_image.present? %>
                                         <%= image_tag product.feature_image.variant(resize_to_limit: [100, 100]), style:"width:70px; height:100px;" %>
                                        <% else %>
                                            <% if product.images.attached? %>
                                                <%= image_tag product.images.first.variant(resize_to_limit: [100, 100]) , style:"width:70px; height:100px;" %>
                                            <% else %>
                                            
                                                <%= image_tag 'avtar1.png', style: " width:90px; height:90px;" , style:"width:70px; height:100px;" %>
                                            <% end %>
                                        <% end %>
                                    </div>
                                    <div class="latest-product__item__text">
                                    <h6>Crab Pool Security</h6>
                                    <span>$30.00</span>
                                    </div>
                                </a>
                                <% end %>
                                </div>
                            <% end %>
                        </div>
                    </div>
              
                </div>
                <div class="col-lg-4 col-md-6">
                <div class="latest-product__text">
                  <h4>Top Rated Products</h4>
                  <div class="latest-product__slider owl-carousel">
                    <% @productdetails.includes(:vendor).limit(6).each_slice(3) do |products_row| %>
                      <div class="latest-prdouct__slider__item">
                        <% products_row.each do |product| %>
                            <a href="<%= product_path(product) %>" class="latest-product__item" data-turbolinks="false">
                            <div class="latest-product__item__pic">
                              <% if product.images.attached? %>
                                <%= image_tag product.images.first.variant(resize_to_limit: [100, 100]), style: "width:70px; height:100px;" %>
                              <% else %>
                                <%= image_tag 'avtar1.png', style: "width:70px; height:100px;" %>
                              <% end %>
                            </div>
                            <div class="latest-product__item__text">
                              <h6><%= product.product_title %></h6>
                              <span>$<%= product.price %></span>
                            </div>
                          </a>
                        <% end %>
                      </div>
                    <% end %>
                  </div>
                </div>
              </div>
                <div class="col-lg-4 col-md-6">
                    <div class="latest-product__text">
                        <h4>Review Rated Products</h4>
                        <div class="latest-product__slider owl-carousel">
                            <% @productdetails.includes(:vendor).limit(6).each_slice(3) do |products_row| %>
                                <div class="latest-prdouct__slider__item">
                                <% products_row.each do |product| %>
                                    <a href="<%= product_path(product) %>" class="latest-product__item" data-turbolinks="false">
                                    <div class="latest-product__item__pic">
                                        <% if product.images.attached? %>
                                        <%= image_tag product.images.first.variant(resize_to_limit: [100, 100]), style: "width:70px; height:100px;" %>
                                        <% else %>
                                        <%= image_tag 'avtar1.png', style: "width:70px; height:100px;" %>
                                        <% end %>
                                    </div>
                                    <div class="latest-product__item__text">
                                        <h6><%= product.product_title %></h6>
                                        <span>$<%= product.price %></span>
                                    </div>
                                    </a>
                                <% end %>
                                </div>
                            <% end %>
                            </div>
                        </div>
                    </div>
            
               
                </div>
        </div>
    </section>
    <!-- Latest Product Section End -->

   

   
    <%= render 'footer' %>

    <script>
$(document).ready(function() {
  $('.owl-carousel1').owlCarousel({
        loop: true,
        margin: 0,
        items: 4,
        dots: false,
        nav: true,
        navText: ["<span class='fa fa-angle-left'><span/>", "<span class='fa fa-angle-right'><span/>"],
        animateOut: 'fadeOut',
        animateIn: 'fadeIn',
        smartSpeed: 1200,
        autoHeight: false,
        autoplay: true,
        responsive: {

            0: {
                items: 1,
            },

            480: {
                items: 2,
            },

            768: {
                items: 3,
            },

            992: {
                items: 4,
            }
        }
    });



    $(".latest-product__slider").owlCarousel({
        loop: true,
        margin: 0,
        items: 1,
        dots: false,
        nav: true,
        navText: ["<span class='fa fa-angle-left'><span/>", "<span class='fa fa-angle-right'><span/>"],
        smartSpeed: 1200,
        autoHeight: false,
        autoplay: true
    });

    /*-----------------------------
        Product Discount Slider
    -------------------------------*/
    $(".product__discount__slider").owlCarousel({
        loop: true,
        margin: 0,
        items: 3,
        dots: true,
        smartSpeed: 1200,
        autoHeight: false,
        autoplay: true,
        responsive: {

            320: {
                items: 1,
            },

            480: {
                items: 2,
            },

            768: {
                items: 2,
            },

            992: {
                items: 3,
            }
        }
    });

    /*---------------------------------
        Product Details Pic Slider
    ----------------------------------*/
    $(".product__details__pic__slider").owlCarousel({
        loop: true,
        margin: 20,
        items: 4,
        dots: true,
        smartSpeed: 1200,
        autoHeight: false,
        autoplay: true
    });
    $(window).on('load', function () {
     
    });
});

</script>