
<div class="humberger__menu__overlay"></div>
<div class="humberger__menu__wrapper">
    <div class="humberger__menu__logo">
        
        <%= image_tag "customer/logo.png" %>
 
    </div>
    <div class="humberger__menu__cart">
    <ul>
                              
                    <li><%= link_to cart_path(@current_cart), data: { turbolinks: false } do %><i class="fa fa-shopping-bag"><span></span></i><% end %></li>

    
   </ul>
       
    </div>
    <div class="humberger__menu__widget">
        <div class="header__top__right__language">
            <img src="img/language.png" alt="">
      
           
        </div>
        <div class="header__top__right__auth">
        <% if customer_signed_in? %>
                        <%= link_to destroy_customer_session_path, method: :delete, data: { confirm: "Are you sure you want to log out?" } do %>
                            <i class="fa fa-user"></i> Log Out
                          <% end %>
                        <% else %>
                          <%= link_to new_customer_session_path do %>
                            <i class="fa fa-user"></i> Login
                          <% end %>
                        <% end %>
      </div>
      
    </div>
    <nav class="humberger__menu__nav mobile-menu">
        <ul>
        <li class="active"><%= link_to "Home", root_path, data: { turbolinks: false } %></li>

        <li>< <%= link_to "Products", products_path, data: { turbolinks: false } %>/li>
            
        <li><%= link_to "Blog", blog_path, data: { turbolinks: false } %></li>
        <li><%= link_to "Contact", contact_path, data: { turbolinks: false } %></li>
        </ul>
    </nav>
    <div id="mobile-menu-wrap"></div>
    <div class="header__top__right__social">
        <a href="#"><i class="fa fa-facebook"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
        <a href="#"><i class="fa fa-linkedin"></i></a>
        <a href="#"><i class="fa fa-pinterest-p"></i></a>
    </div>
    <div class="humberger__menu__contact">
    <ul>
      <% if current_customer %>
        <li><i class="fa fa-envelope"></i> <%= current_customer.email %></li>
      <% else %>
        <li><i class="fa fa-envelope"></i> hello@colorlib.com</li>
        <div class="header__top__right__auth">
        <% if current_customer %>
          <li><%= link_to "My Orders", my_orders_path, style: "color: black;" %></li>
        <% end %>
    </div>
      <% end %>
      <!-- Additional list items if needed -->
    </ul>
  </div>
  
</div>
<!-- Humberger End -->

<!-- Header Section Begin -->
<header class="header" style="margin-top: ">
    <div class="header__top">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="header__top__left">
                    <ul>
                    <% if current_customer %>
                      <li><i class="fa fa-envelope"></i> <%= current_customer.email %></li>
                    <% else %>
                      <li><i class="fa fa-envelope"></i> hello@colorlib.com</li>
                    <% end %>
                    <div class="header__top__right__auth">
                    <% if current_customer %>
                      <li><%= link_to "My Orders", my_orders_path, style: "color: black;" %></li>
                    <% end %>
                </div>
                    <!-- Additional list items if needed -->
                  </ul>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="header__top__right">
                        <div class="header__top__right__social">
                            <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                            <i class="fa fa-twitter" aria-hidden="true"></i>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                            <a href="#"><i class="fa fa-pinterest-p"></i></a>
                            <i class="fa-brands fa-instagram"></i>
                        </div>
                         
                        <div class="header__top__right__auth">
                        <% if customer_signed_in? %>
                        <%= link_to destroy_customer_session_path, method: :delete, data: { confirm: "Are you sure you want to log out?" } do %>
                            <i class="fa fa-user"></i> Log Out
                          <% end %>
                        <% else %>
                          <%= link_to new_customer_session_path do %>
                            <i class="fa fa-user"></i> Login
                          <% end %>
                        <% end %>
                          
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="header__logo">
               

                    <%= image_tag "customer/logo.png" %>
                </div>
            </div>
            <div class="col-lg-6">
                <nav class="header__menu">
                    <ul>
                    <li><%= link_to "Home", root_path, data: { turbolinks: false } %></li>
                    <li class="active"><%= link_to "Products", products_path, data: { turbolinks: false } %></li>
                        
                    <li><%= link_to "Blog", blog_path, data: { turbolinks: false } %></li>
                    <li><%= link_to "Contact", contact_path, data: { turbolinks: false } %></li>
                    </ul>
                </nav>
            </div>
            <div class="col-lg-3">
                <div class="header__cart">
                <ul>
            
                <li><%= link_to cart_path(@current_cart), data: { turbolinks: false } do %><i class="fa fa-shopping-bag"></i><% end %></li>

                
            </ul>
           
           
          
       
                   
                </div>
            </div>
        </div>
        <div class="humberger__open">
        <i class="fa fa-bars"></i>
        </div>
    </div>
</header>
    <!-- app/views/orders/index_for_current_customer.html.erb -->
    <div class="container mt-4">
      <h3 class="mb-4">My Orders</h3>
    
      <ul class="list-group">
        <% @orders.each do |order| %>
          <li class="list-group-item mb-4">
            <div class="d-flex justify-content-between align-items-center">
              <h2 class="mb-0">Order ID: <%= order.id %></h2>
              <p class="mb-0"><strong>Name:</strong> <%= order.name %></p>
            </div>
    
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>Product</th>
                  <th>Quantity</th>
                  <th>Subtotal</th>
                </tr>
              </thead>
              <tbody>
                <% order.line_items.each do |item| %>
                  <tr>
                    <td>
                      <div class="d-flex align-items-center">
                        <%= image_tag item.productdetail.images.first, class: "img-thumbnail mr-3", style: "max-width: 100px;" %>
                        <%= item.productdetail.product_title %>
                      </div>
                    </td>
                    <td><%= item.quantity %></td>
                    <td><%= number_to_currency(item.quantity * item.productdetail.price) %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
    
            <p class="text-right"><strong>Total:</strong> <%= number_to_currency(order.line_items.sum { |item| item.quantity * item.productdetail.price }) %></p>
          </li>
        <% end %>
      </ul>
    </div>
    