

<% if flash[:message].present? %>
<div class="alert alert-success alert-dismissible">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <p id="message"><%= flash[:message] %></p>
</div>
<% end %>



<div class="container">
  <%= form_for(@order) do |f| %>
    <div class="checkout__form">
      <h4></h4>
      <div class="row">
        <div class="col-lg-6 col-md-6">
          <!-- Name Fields -->
          <div class="row">
            <div class="col-lg-6">
              <div class="checkout__input">
                <%= f.label :name, ' Name<span>*</span>'.html_safe %>
                <%= f.text_field :name, required: true %>
              </div>
            </div>
            
          </div>
          <!-- Other Fields -->
          <div class="checkout__input">
            <%= f.label :country, 'Country<span>*</span>'.html_safe %>
            <%= f.text_field :country,required: true  %>
          </div>
          <div class="checkout__input">
          <%= f.label :City, 'City<span>*</span>'.html_safe %>
          <%= f.text_field :city,required: true  %>
        </div>
        <div class="checkout__input">
        <%= f.label :Address, 'Address<span>*</span>'.html_safe %>
        <%= f.text_field :address,required: true  %>
      </div>
      <div class="checkout__input">
      <%= f.label :Address, 'Postal/zip code<span>*</span>'.html_safe %>
      <%= f.text_field :pincode,required: true  %>
    </div>
    
    <div class="checkout__input">
    <%= f.label :Address, 'Phone<span>*</span>'.html_safe %>
    <%= f.text_field :mobile,required: true  %>
  </div>
  <div class="checkout__input">
    <%= f.label :Address, 'Alternate Phone<span></span>'.html_safe %>
    <%= f.text_field :alternate_mobile %>
  </div>
  <div class="checkout__input">
  <%= f.label :Address, 'Note</span>'.html_safe %>
  <%= f.text_field :note %>
</div>
          <!-- Other Fields ... -->
        </div>
        <div class="col-lg-6 col-md-6">
          <!-- Order Summary -->
          <div class="checkout__order">
            <h4>Your Order</h4>
            <div class="checkout__order__products">Products <span>Total</span></div>
            <ul>
              <% @current_cart.line_items.each do |item| %>
                <% if @current_cart.u == true && @current_cart.discount_type == "amount_on_product" %>
                       <%  productdetails1_ids = @current_cart.productdetails1.map(&:to_i) %>
                                

                <% if productdetails1_ids.include?(item.productdetail_id) %>
                      <% if @current_cart.amt_type =="percentage" %>
                          <li><%= item.productdetail.product_title %> <span><%= number_to_currency(item.total_price) %></span></li>
                      <% else %>
                     
                             <li><%= item.productdetail.product_title %> <span><%= number_to_currency(item.total_price) %></span></li>
                      <% end %>
                <% else %>
                     <li><%= item.productdetail.product_title %> <span><%= number_to_currency(item.productdetail.price) %></span></li>
                <% end %>
              <% else %>
                     <li><%= item.productdetail.product_title %> <span><%= number_to_currency(item.productdetail.price) %></span></li>
              <% end %>
                  <% end %>
            </ul>
         
             
            <% if @cart.u == true  %>
           
            <div class="checkout__order__subtotal">
            Subtotal
            <span style="text-decoration: line-through;">
              <%= number_to_currency(@cart.total_item_total) %>
            </span>
          </div>
          
           <div class="checkout__order__subtotal">Total with discount <span><%= number_to_currency(@current_cart.sub_total) %></span></div>
            <% else %>
            <div class="checkout__order__total">Total  <span><%= number_to_currency(@current_cart.sub_total) %></span></div>
            <% end %>
          </div>
          
          
          
          <%= f.submit 'Placed order', class: 'site-btn' %>
        </div>
      </div>
    </div>
  <% end %>

  </div>