<div class="container">
  <%= form_for(@order) do |f| %>
    <div class="checkout__form">
      <h4></h4>
      <div class="row">
        <div class="col-lg-6 col-md-6">
          <!-- Name Fields -->
          <div class="row">
            <div class="col-lg-6">
              <div class="checkout__input">
                <%= f.label :name, 'First Name<span>*</span>'.html_safe %>
                <%= f.text_field :name, required: true %>
              </div>
            </div>
            
          </div>
          <!-- Other Fields -->
          <div class="checkout__input">
            <%= f.label :country, 'Country<span>*</span>'.html_safe %>
            <%= f.text_field :country,required: true  %>
          </div>
          <div class="checkout__input">
          <%= f.label :City, 'City<span>*</span>'.html_safe %>
          <%= f.text_field :city,required: true  %>
        </div>
        <div class="checkout__input">
        <%= f.label :Address, 'Address<span>*</span>'.html_safe %>
        <%= f.text_field :address,required: true  %>
      </div>
      <div class="checkout__input">
      <%= f.label :Address, 'Postal/zip code<span>*</span>'.html_safe %>
      <%= f.text_field :pincode,required: true  %>
    </div>
    
    <div class="checkout__input">
    <%= f.label :Address, 'Phone<span>*</span>'.html_safe %>
    <%= f.text_field :mobile,required: true  %>
  </div>
  <div class="checkout__input">
    <%= f.label :Address, 'Alternate Phone<span></span>'.html_safe %>
    <%= f.text_field :alternate_mobile %>
  </div>
  <div class="checkout__input">
  <%= f.label :Address, 'Note</span>'.html_safe %>
  <%= f.text_field :note %>
</div>
          <!-- Other Fields ... -->
        </div>
        <div class="col-lg-6 col-md-6">
          <!-- Order Summary -->
          <div class="checkout__order">
            <h4>Your Order</h4>
            <div class="checkout__order__products">Products <span>Total</span></div>
            <ul>
              <% @current_cart.line_items.each do |item| %>
                <li><%= item.productdetail.product_title %> <span><%= number_to_currency(item.productdetail.price) %></span></li>
              <% end %>
            </ul>
            <div class="checkout__order__subtotal">Subtotal <span><%= number_to_currency(@current_cart.sub_total) %></span></div>
            <div class="checkout__order__total">Total  <span><%= number_to_currency(@current_cart.sub_total) %></span></div>
          </div>
          
          
          
          <%= f.submit 'Placed order', class: 'site-btn' %>
        </div>
      </div>
    </div>
  <% end %>

  </div>