

<% flash.each do |key, value| %>
    <div class="alert alert-<%= key == :notice ? 'success' : 'danger' %>">
      <%= value %>
    </div>
  <% end %>
  
  
  
  
  



  <div class="humberger__menu__overlay"></div>
  <div class="humberger__menu__wrapper">
      <div class="humberger__menu__logo">
          
          <%= image_tag "customer/logo.png" %>
   
      </div>
      <div class="humberger__menu__cart">
      <ul>
                                
                      <li><%= link_to cart_path(@current_cart), data: { turbolinks: false } do %><i class="fa fa-shopping-bag"><span></span></i><% end %></li>

      
     </ul>
         
      </div>
      <div class="humberger__menu__widget">
          <div class="header__top__right__language">
              <img src="img/language.png" alt="">
        
             
          </div>
          <div class="header__top__right__auth">
          <% if customer_signed_in? %>
          <%= link_to destroy_customer_session_path, method: :delete, data: { confirm: "Are you sure you want to log out?" } do %>
              <i class="fa fa-sign-out"></i> Log Out
            <% end %>
          <% else %>
            <%= link_to new_customer_session_path do %>
              <i class="fa fa-user"></i> Login
            <% end %>
          <% end %>
        </div>
        
      </div>
      <nav class="humberger__menu__nav mobile-menu">
          <ul>
          <li class="active"><%= link_to "Home", root_path, data: { turbolinks: false } %></li>

          <li>< <%= link_to "Products", products_path, data: { turbolinks: false } %>/li>
              
          <li><%= link_to "Blog", blog_path, data: { turbolinks: false } %></li>
          <li><%= link_to "Contact", contact_path, data: { turbolinks: false } %></li>
          </ul>
      </nav>
      <div id="mobile-menu-wrap"></div>
      <div class="header__top__right__social">
          <a href="#"><i class="fa fa-facebook"></i></a>
          <a href="#"><i class="fa fa-twitter"></i></a>
          <a href="#"><i class="fa fa-linkedin"></i></a>
          <a href="#"><i class="fa fa-pinterest-p"></i></a>
      </div>
      <div class="humberger__menu__contact">
      <ul>
        <% if current_customer %>
          <li><i class="fa fa-envelope"></i> <%= current_customer.email %></li>
        <% else %>
          <li><i class="fa fa-envelope"></i> hello@colorlib.com</li>
          <div class="header__top__right__auth">
          <% if current_customer %>
            <li><%= link_to "My Orders", my_orders_path, style: "color: black;" %></li>
          <% end %>
      </div>
        <% end %>
        <!-- Additional list items if needed -->
      </ul>
    </div>
    
  </div>
  <!-- Humberger End -->

  <!-- Header Section Begin -->
  <header class="header">
      <div class="header__top">
          <div class="container">
              <div class="row">
                  <div class="col-lg-6 col-md-6">
                      <div class="header__top__left">
                      <ul>
                      <% if current_customer %>
                        <li><i class="fa fa-envelope"></i> <%= current_customer.email %></li>
                      <% else %>
                        <li><i class="fa fa-envelope"></i> hello@colorlib.com</li>
                      <% end %>
                      <div class="header__top__right__auth">
                      <% if current_customer %>
                        <li><%= link_to "My Orders", my_orders_path, style: "color: black;" %></li>
                      <% end %>
                  </div>
                      <!-- Additional list items if needed -->
                    </ul>
                      </div>
                  </div>
                  <div class="col-lg-6 col-md-6">
                      <div class="header__top__right">
                          <div class="header__top__right__social">
                              <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                              <i class="fa fa-twitter" aria-hidden="true"></i>
                              <a href="#"><i class="fa fa-linkedin"></i></a>
                              <a href="#"><i class="fa fa-pinterest-p"></i></a>
                              <i class="fa-brands fa-instagram"></i>
                          </div>
                           
                          <div class="header__top__right__auth">
                          <% if customer_signed_in? %>
                          <%= link_to destroy_customer_session_path, method: :delete, data: { confirm: "Are you sure you want to log out?" } do %>
                              <i class="fa fa-user"></i> Log Out
                            <% end %>
                          <% else %>
                            <%= link_to new_customer_session_path do %>
                              <i class="fa fa-user"></i> Login
                            <% end %>
                          <% end %>
                            
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="container">
          <div class="row">
              <div class="col-lg-3">
                  <div class="header__logo">
                 

                      <%= image_tag "customer/logo.png" %>
                  </div>
              </div>
              <div class="col-lg-6">
                  <nav class="header__menu">
                      <ul>
                      <li><%= link_to "Home", root_path, data: { turbolinks: false } %></li>
                      <li class="active"><%= link_to "Products", products_path, data: { turbolinks: false } %></li>
                          
                      <li><%= link_to "Blog", blog_path, data: { turbolinks: false } %></li>
                      <li><%= link_to "Contact", contact_path, data: { turbolinks: false } %></li>
                      </ul>
                  </nav>
              </div>
              <div class="col-lg-3">
                  <div class="header__cart">
                  <ul>
              
                  <li><%= link_to cart_path(@current_cart), data: { turbolinks: false } do %><i class="fa fa-shopping-bag"></i><% end %></li>

                  
              </ul>
             
             
            
         
                     
                  </div>
              </div>
          </div>
          <div class="humberger__open">
          <i class="fa fa-bars"></i>
          </div>
      </div>
  </header>
    <!-- Header Section End -->

    <!-- Hero Section Begin -->
    <section class="hero hero-normal">
        <div class="container">
            <div class="row">
            <div class="col-lg-3">
            <div class="hero__categories">
              <div class="hero__categories__all">
                <i class="fa fa-bars"></i>
                <span>Vendors</span>
              </div>
              <ul>
                <% @vendors.each do |vendor| %>
                
                  <li>
                  <%= link_to vendor.first_name, product_vendor_path(vendor), data: { turbolinks: false } %>
                </li>
                

                <% end %>
              </ul>
            </div>
          </div>
          
                <div class="col-lg-9">
                    <div class="hero__search">
                    <div class="hero__search__form">
                    <form action="#">
                       
                        <%= search_form_for @q, url: products_path do |f| %>
                            <%= f.text_field :product_title_cont, placeholder: "What do you need" %>
                          
                            <%= f.submit "Search" %>
                          
                        <% end %>
                    </form>
                </div>
                
                        <div class="hero__search__phone">
                            <div class="hero__search__phone__icon">
                                <i class="fa fa-phone"></i>
                            </div>
                            <div class="hero__search__phone__text">
                                <h5>+65 11.188.888</h5>
                                <span>support 24/7 time</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
<!-- Hero Section End -->

<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-section set-bg" data-setbg="img/breadcrumb.jpg">
<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <div class="breadcrumb__text">
                <h2>Shopping Cart</h2>
                <div class="breadcrumb__option">
                    <a href="./index.html">Home</a>
                    <span>Shopping Cart</span>
                </div>
            </div>
        </div>
    </div>
</div>
</section>
<!-- Breadcrumb Section End -->

<!-- Shoping Cart Section Begin -->
<% if @cart.line_items.present? %>
<section class="shoping-cart spad">
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="shoping__cart__table">
                <table>
                    <thead>
                        <tr>
                            <th class="shoping__product">Products</th>
                            <th>Price</th>
                            <th>Quantity</th>
                            <th>Total</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                     <% @cart.line_items.each do |line_item| %>
                        <tr>
                       
                            <td class="shoping__cart__item">
                            <% if line_item.productdetail.images.attached? && line_item.productdetail.feature_image.present? %>
                            <% image_url = url_for(line_item.productdetail.feature_image) %>
                    <% else %>
                            <% if line_item.productdetail.images.attached? %>
                            <% image_url = url_for(line_item.productdetail.images.first) %>
                            <% else %>
                            <% image_url = asset_path('avtar1.png') %>
                            <% end %>
                    <% end %>
                               
                                <img src="<%= image_url %>" alt="" style="width: 100px; height: 100px;">

                                <h5><%= line_item.productdetail.product_title %></h5>
                            </td>
                            <td class="shoping__cart__price">
                            <%= number_to_currency(line_item.productdetail.price) %>
                            </td>
                            <td class="shoping__cart__quantity">
                            <div class="quantity">
                            <div class="pro-qty">
                            <a href="#" class="increase-btn" data-line-item-id="<%= line_item.id %>">+</a>
                            <input type="text" id="quantity-input-<%= line_item.id %>" value="<%= line_item.quantity %>" disabled>
                            <a href="#" class="decrease-btn" data-line-item-id="<%= line_item.id %>">-</a>
                            </div>
                          </div>
                          
                               
                            </td>

                            <td class="shoping__cart__total">
                            <span class="total-price" data-line-item-id="<%= line_item.id %>">
                              <%= number_to_currency(line_item.total_price) %>
                            </span>
                          </td>
                          <td>
                          <%= link_to line_item_path(line_item), method: :delete, data: { confirm: "Are you sure you want to delete this item?" }, class: "btn btn-danger btn-sm" do %>
                            <i class="fas fa-trash-alt"></i> 
                          <% end %>
                        </td>
                        
                        
                            
                        </tr>
                        <% end %>
                        
                       
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="shoping__cart__btns">
            <a href="<%= root_path %>" class="primary-btn cart-btn" data-turbolinks="false">CONTINUE SHOPPING</a>

                <a href="<%= cart_path(@current_cart) %>" class="primary-btn cart-btn cart-btn-right" data-method="delete" data-confirm="Are you sure?">
                <span class="icon_loading"></span>
                Empty Cart
              </a>
             

            </div>
        </div>
        <div class="col-lg-6">
            <div class="shoping__continue">
                
            </div>
        </div>
        <div class="col-lg-6">
            <div class="shoping__checkout">
            <h5>Cart Total</h5>
            <ul>
                <!-- Cart total items here -->
                <% if @cart.u == true %>
                
                <li>Total amount <span class="strikethrough-text"><%= number_to_currency(@cart.all_total) %></span></li>

                <li>Total with discount <span><%= number_to_currency(@cart.sub_total) %></span></li>
                <% else %>
                <li>Total <span><%= number_to_currency(@cart.sub_total) %></span></li>
                <% end %>
         
              
                
            </ul>
            <% if current_customer %>
                <%= link_to "Proceed to checkout", new_order_path, class: "site-btn" %>
            <% else %>
                <%= link_to "Sign Up", new_customer_registration_path %>
            <% end %>
            </div>
      </div>
      <%= form_with(url: apply_discount_path(@cart), method: :post) do |form| %>
        <%= form.text_field :discount_code, placeholder: "Enter discount code" %>
        <%= form.submit "Apply Discount" %>
      <% end %>
      
          <div class="col-lg-6">
          
            <h4>Offers</h4>
            <div id="couponCarousel" class="carousel slide" data-ride="carousel">
               
                <div class="carousel-inner">
                <% @cart.line_items.each do |line_item| %>
                    <% matching_discounts = @discount.where("productdetails1::text[] @> ARRAY[?]::text[]", [line_item.productdetail_id.to_s]) %>
               
                    <% if matching_discounts.any? && matching_discounts.first.min_purchase_amount <= line_item.productdetail.price && matching_discounts.first.min_purchase_quantity <=line_item.quantity  %>
                     
                    <% matching_discounts.each_with_index do |discount, index| %>
                    <div class="carousel-item <%= index == 0 ? 'active' : '' %>">
                        <div class="carousel-content">
                        <div class="coupon-details text-center">
                            <p>Get <%= discount.status %> percent off your order with code:</p>
                        </div>
                        <ul class="promotion-codes text-center">
                            <li><%= discount.code %></li>
                        </ul>
                        </div>
                    </div>
                    <% end %>
                    
                    <% end %>

                    <% end %>
                </div>
                <a class="carousel-control-prev" href="#couponCarousel" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#couponCarousel" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
              
            </div>
            
          </div>
    
      
  
</div>
</section>
<% else %>
<div class="empty-cart-message">
  <h2 style="text-align: center;">Your cart is empty please add item  for offer  </h5>
</div>

<% end %>
<!-- Shoping Cart Section End -->

<!-- Footer Section Begin -->
<footer class="footer spad">
<div class="container">
    <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="footer__about">
                <div class="footer__about__logo">
                    <a href="./index.html"><img src="img/logo.png" alt=""></a>
                </div>
                <ul>
                    <li>Address: 60-49 Road 11378 New York</li>
                    <li>Phone: +65 11.188.888</li>
                    <li>Email: hello@colorlib.com</li>
                </ul>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 offset-lg-1">
            <div class="footer__widget">
                <h6>Useful Links</h6>
                <ul>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">About Our Shop</a></li>
                    <li><a href="#">Secure Shopping</a></li>
                    <li><a href="#">Delivery infomation</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Our Sitemap</a></li>
                </ul>
                <ul>
                    <li><a href="#">Who We Are</a></li>
                    <li><a href="#">Our Services</a></li>
                    <li><a href="#">Projects</a></li>
                    <li><a href="#">Contact</a></li>
                    <li><a href="#">Innovation</a></li>
                    <li><a href="#">Testimonials</a></li>
                </ul>
            </div>
        </div>
        <div class="col-lg-4 col-md-12">
            <div class="footer__widget">
                <h6>Join Our Newsletter Now</h6>
                <p>Get E-mail updates about our latest shop and special offers.</p>
                <form action="#">
                    <input type="text" placeholder="Enter your mail">
                    <button type="submit" class="site-btn">Subscribe</button>
                </form>
                <div class="footer__widget__social">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-instagram"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-pinterest"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="footer__copyright">
                <div class="footer__copyright__text"><p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p></div>
                <div class="footer__copyright__payment"><img src="img/payment-item.png" alt=""></div>
            </div>
        </div>
    </div>
</div>
</footer>
<style>
.strikethrough-text {
  text-decoration: line-through;
}
  .carousel-control-prev,
  .carousel-control-next {
    background-color: #749525; 
    opacity: 0.7; /* Optional: 
    width: 32px;
    height:51px;
  }

  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    background-color: transparent; 
    border: 1px solid white; /* Optional: Add a white border to the icon */
    width: 32px;
    height:51px;
  }

  /* Optional: Style the icon color */
  .carousel-control-prev-icon::before,
  .carousel-control-next-icon::before {
    color: white;
  }
</style>
