







<div class="container">
<%= link_to 'Back', admin_discounts_path, class: 'btn btn-secondary float-right', style: 'margin-bottom: 21px' %>

</div>

<div class="container">
  <h3>Discounts</h3>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Title</th>
        <th>Status</th>
        <th>Discount type</th>
        <th>Used</th>
        <th>Code</th>
        <th> </th>
        <th>Action</th>
       
      </tr>
    </thead>

    <tbody>
    <% @discounts.sort_by { |discount| discount.title }.reverse_each do |discount| %>
        <tr>
          <td><%= discount.title %></td>
          <td>
          <%= link_to toggle_status_admin_discount_path(discount), method: :post, class: 'btn btn-sm toggle-button' do %>
            <i class="fas fa-power-off"></i>
            <% if discount.status %>
              <span class="status-text active text-success">Active</span>
              <span class="status-text inactive d-none">Inactive</span>
            <% else %>
              <span class="status-text active d-none">Active</span>
              <span class="status-text inactive text-danger">Inactive</span>
            <% end %>
          <% end %>
          
        </td>
          <td><%= discount.discount_type %></td>

          <td><%= discount.used.nil? || discount.used.zero? ? '0' : discount.used.to_i %></td>


          <td><%= discount.code %></td>
          
          <td><%#= link_to 'Show', admin_discount_path(discount) %></td>
          <td>
  <%= link_to edit_admin_discount_path(discount) do %>
    <i class="fas fa-edit"></i> 
  <% end %>
</td>

         
<td>
<%= link_to admin_discount_path(discount), method: :delete, data: { confirm: 'Are you sure you want to delete this discount?' } do %>
  <i class="fas fa-trash-alt"></i> 
<% end %>
</td>

       
        

        </tr>
      <% end %>
    </tbody>
  </table>

  <%= link_to 'New Discount', new_admin_discount_path, class: 'btn btn-primary' %>
</div>
