<p id="notice"><%= notice %></p>

<div class="container">
  <h1>Discounts</h1>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Title</th>
        <th>Status</th>
        <th>Discount type</th>
        <th>Used</th>
        <th>Code</th>
        <th> </th>
        <th>Action</th>
       
      </tr>
    </thead>

    <tbody>
      <% @discounts.each do |discount| %>
        <tr>
          <td><%= discount.title %></td>
          <td>
          <% if discount.status %>
            <span style="color: green;">Active</span>
          <% else %>
            <span style="color: red;">Deactive</span>
          <% end %>
        </td>
        
          <td><%= discount.discount_type %></td>
          <td><%= discount.used %></td>
          <td><%= discount.code %></td>
          
          <td><%#= link_to 'Show', admin_discount_path(discount) %></td>
          <td>
  <%= link_to edit_admin_discount_path(discount) do %>
    <i class="fas fa-edit"></i> 
  <% end %>
</td>

         
<td>
<%= link_to admin_discount_path(discount), method: :delete, data: { confirm: 'Are you sure you want to delete this discount?' } do %>
  <i class="fas fa-trash-alt"></i> 
<% end %>
</td>

       
        

        </tr>
      <% end %>
    </tbody>
  </table>

  <%= link_to 'New Discount', new_admin_discount_path, class: 'btn btn-primary' %>
</div>
