<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @discount.title %>
</p>

<p>
  <strong>Status:</strong>
  <%= @discount.status %>
</p>

<p>
  <strong>Discount type:</strong>
  <%= @discount.discount_type %>
</p>

<p>
  <strong>Used:</strong>
  <%= @discount.used %>
</p>

<p>
  <strong>Code:</strong>
  <%= @discount.code %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @discount.amount %>
</p>

<p>
  <strong>Percentage:</strong>
  <%= @discount.percentage %>
</p>

<p>
  <strong>Min purchase amount:</strong>
  <%= @discount.min_purchase_amount %>
</p>

<p>
  <strong>Min purchase quantity:</strong>
  <%= @discount.min_purchase_quantity %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @discount.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @discount.end_date %>
</p>

<p>
  <strong>Min use:</strong>
  <%= @discount.min_use %>
</p>

<p>
  <strong>Vendor:</strong>
  <%= @discount.vendor_id %>
</p>

<p>
  <strong>Productdetails:</strong>
  <%= @discount.productdetail_id %>
</p>

<p>
  <strong>Customer:</strong>
  <%= @discount.customer_id %>
</p>

<%= link_to 'Edit', edit_discount_path(@discount) %> |
<%= link_to 'Back', discounts_path %>
