<section style="background-color: #eee;">
  <div style="padding: 50px;">
    <table width="100%" cellspacing="0" cellpadding="0">
      <tr>
        <td align="center">
          <table border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width: 600px; background-color: #fff;">
            <tr>
              <td style="padding: 20px; text-align: center;">
              <h2> Hey <%= @order.name.split(' ').map(&:capitalize).join(' ') %>,</h2>

                <p class="fs-sm">
                  This is the receipt for a payment of <strong><%= @total_amount_paid %></strong> (USD) you made to Organi.
                </p>
              </td>
            </tr>
            <tr>
              <td style="padding: 20px;">
                <table width="100%" cellspacing="0" cellpadding="0">
                  <tr>
                    <td width="70%" style="padding: 10px;">
                      <p style="font-size: 12px; color: #888; margin: 0;">Order No.</p>
                      <strong>#<%= @order.id %></strong>
                    </td>
                    <td width="30%" style="padding: 10px;">
                      <p style="font-size: 12px; color: #888; margin: 0;">Order Date</p>
                      <strong><%= @order.created_at.localtime.strftime("%A, %e %B %Y ") %></strong>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr>
              <td style="background-color: #f2f2f2; padding: 20px;">
                <div class="row">
                  <div class="col-md-6 float-left">
                    <div class="text-muted mb-2">Client</div>
                    <strong> <%= @order.name.split(' ').map(&:capitalize).join(' ') %></strong>
                    <p class="fs-sm">
                      <%= @order.address %>
                      <br>
                      <a href="#!" class="text-purple"><%= @order.customer.email %></a>
                    </p>
                  </div>
                  <div class="col-md-6 float-right text-md-right">
                    <div class="text-muted mb-2">Payment To</div>
                    <strong>Ogani Ltd</strong>
                    <p class="fs-sm">
                      9th Avenue, San Francisco 99383
                      <br>
                      <a href="#!" class="text-purple">ogani@email.com</a>
                    </p>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td style="padding: 20px;">
                

                  <table class="custom-table">
                  <thead>
                    <tr>
                      <th scope="col" class="description">Description</th>
                      <th scope="col" class="amount">Amount</th>
                    </tr>
                  </thead>
                  <tbody>
                  <% @order.line_items.each do |item| %>
                      <% if item.productdetail.images.attached? && item.productdetail.feature_image.present? %>
                        <% image = (item.productdetail.feature_image) %>
                      <% else %>
                        <% if item.productdetail.images.attached? %>
                          <% image = (item.productdetail.images.first) %>
                        <% else %>
                          <% image = asset_path('avtar1.png') %>
                        <% end %>
                      <% end %>
                
                      <tr>
                        <td class="description">
                          <% if image.present? %>
                            <%= link_to(product_path(item.productdetail), data: { turbolinks: false }) do %>
                              <%= image_tag(image, style: "width: 100px; height: 100px;") %>
                            <% end %>
                          <% end %>
                          <div class="product-info">
                            <p><%= item.productdetail.product_title %> x <%= item.quantity %></p>
                            <% discount = Discount.find(item.discount_id) if item.discount_id.present? %>
                            <% if discount.present? %>
                              <p class="discount"><i class="fas fa-tag">(<%= discount.code %>)</i></p>
                            <% end %>
                          </div>
                        </td>
                        <td class="amount text-end">
                          <% if item.discount_id.present? %>
                            <span class="original-price"><%= number_to_currency(item.quantity * item.productdetail.price) %></span>
                            <span class="discounted-price"><%= number_to_currency(item.discount_item_price) %></span>
                          <% else %>
                            <span><%= number_to_currency(item.quantity * item.productdetail.price) %></span>
                          <% end %>
                        </td>
                      </tr>
                  <% end %>
                  </tbody>
                 </table>
                
           
                <div class="total-section" style="float:right">
              
                <div class="discount">
                  <span class="text-muted me-3">Discount:</span>
                  <span>-<%= number_to_currency(@order.line_items.sum { |item| item.quantity * item.productdetail.price } - @total_amount_paid) %></span>
                </div>
                <div class="total-amount">
                  <h5 style="display:inline" class="me-3">Total:</h5>
                  <span><%= @total_amount_paid %> USD</span>
                </div>
              </div>
              
              
              </td>
            </tr>
            <tr>
             
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </div>
</section>

<style>
/* Custom CSS for alignment */
.float-left {
  float: left;
}

.float-right {
  float: right;
}
.custom-table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  margin-top: 1rem;
}

.custom-table th {
  font-weight: normal;
  padding: 8px 10px;
  text-align: left;
  border-bottom: 2px solid #edf2f9;
}

.custom-table .description {
  width: 70%;
}

.custom-table .amount {
  width: 30%;
  text-align: right;
}

.custom-table td {
  padding: 8px 10px;
  border-bottom: 1px solid #edf2f9;
}

.custom-table .product-info p {
  margin: 0;
}

.custom-table .discount {
  margin-top: -10px;
  font-style: italic;
}

.custom-table .original-price {
  text-decoration: line-through;
}

.custom-table .discounted-price {
  font-weight: bold;
}
body{margin-top:20px;
background:#87CEFA;
}

.card-footer-btn {
    display: flex;
    align-items: center;
    border-top-left-radius: 0!important;
    border-top-right-radius: 0!important;
}
.text-uppercase-bold-sm {
    text-transform: uppercase!important;
    font-weight: 500!important;
    letter-spacing: 2px!important;
    font-size: .85rem!important;
}
.hover-lift-light {
    transition: box-shadow .25s ease,transform .25s ease,color .25s ease,background-color .15s ease-in;
}
.justify-content-center {
    justify-content: center!important;
}
.btn-group-lg>.btn, .btn-lg {
    padding: 0.8rem 1.85rem;
    font-size: 1.1rem;
    border-radius: 0.3rem;
}
.btn-dark {
    color: #fff;
    background-color: #1e2e50;
    border-color: #1e2e50;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(30,46,80,.09);
    border-radius: 0.25rem;
    box-shadow: 0 20px 27px 0 rgb(0 0 0 / 5%);
}

.p-5 {
    padding: 3rem!important;
}
.card-body {
    flex: 1 1 auto;
    padding: 1.5rem 1.5rem;
}




.px-0 {
    padding-right: 0!important;
    padding-left: 0!important;
}

.mt-5 {
    margin-top: 3rem!important;
}

.icon-circle[class*=text-] [fill]:not([fill=none]), .icon-circle[class*=text-] svg:not([fill=none]), .svg-icon[class*=text-] [fill]:not([fill=none]), .svg-icon[class*=text-] svg:not([fill=none]) {
    fill: currentColor!important;
}
.svg-icon>svg {
    width: 1.45rem;
    height: 1.45rem;
}
.total-amount {
  font-size: 1.2rem; 
  color: green;
}
</style>
