
<h9> This is the page for products </h1>




<div class="humberger__menu__overlay"></div>
    <div class="humberger__menu__wrapper">
        <div class="humberger__menu__logo">
            <a href="#"><img src="img/logo.png" alt=""></a>
        </div>
        <div class="humberger__menu__cart">
            <ul>
                <li><a href="#"><i class="fa fa-heart"></i> <span>1</span></a></li>
                <li><a href="#"><i class="fa fa-shopping-bag"></i> <span>3</span></a></li>
            </ul>
            <div class="header__cart__price">item: <span>$150.00</span></div>
        </div>
        <div class="humberger__menu__widget">
            <div class="header__top__right__language">
                <img src="img/language.png" alt="">
                <div>English</div>
                <span class="arrow_carrot-down"></span>
                <ul>
                    <li><a href="#">Spanis</a></li>
                    <li><a href="#">English</a></li>
                </ul>
            </div>
            <div class="header__top__right__auth">
                <a href="#"><i class="fa fa-user"></i> Login</a>
            </div>
        </div>
        <nav class="humberger__menu__nav mobile-menu">
            <ul>
            <li class="active"><%= link_to "Home", root_path, data: { turbolinks: false } %></li>

                <li>< <%= link_to "Products", products_path, data: { turbolinks: false } %>/li>
                <li><a href="#">Pages</a>
                    <ul class="header__menu__dropdown">
                        <li><a href="./shop-details.html">Shop Details</a></li>
                        <li><a href="./shoping-cart.html">Shoping Cart</a></li>
                        <li><a href="./checkout.html">Check Out</a></li>
                        <li><a href="./blog-details.html">Blog Details</a></li>
                    </ul>
                </li>
                <li><a href="./blog.html">Blog</a></li>
                <li><a href="./contact.html">Contact</a></li>
            </ul>
        </nav>
        <div id="mobile-menu-wrap"></div>
        <div class="header__top__right__social">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
            <a href="#"><i class="fa fa-pinterest-p"></i></a>
        </div>
        <div class="humberger__menu__contact">
            <ul>
                <li><i class="fa fa-envelope"></i> hello@colorlib.com</li>
                <li>Free Shipping for all Order of $99</li>
            </ul>
        </div>
    </div>
    <!-- Humberger End -->

    <!-- Header Section Begin -->
    <header class="header">
        <div class="header__top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="header__top__left">
                            <ul>
                                <li><i class="fa fa-envelope"></i> hello@colorlib.com</li>
                                <li>Free Shipping for all Order of $99</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="header__top__right">
                            <div class="header__top__right__social">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                                <a href="#"><i class="fa fa-pinterest-p"></i></a>
                            </div>
                            <div class="header__top__right__language">
                                <img src="img/language.png" alt="">
                                <div>English</div>
                                <span class="arrow_carrot-down"></span>
                                <ul>
                                    <li><a href="#">Spanis</a></li>
                                    <li><a href="#">English</a></li>
                                </ul>
                            </div>
                            <div class="header__top__right__auth">
                                <a href="#"><i class="fa fa-user"></i> Login</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="header__logo">
                        <a href="./index.html"><img src="img/logo.png" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <nav class="header__menu">
                        <ul>
                            <li><%= link_to "Home", root_path, data: { turbolinks: false } %></li>
                            <li class="active"><%= link_to "Products", products_path, data: { turbolinks: false } %></li>
                            <li><a href="#">Pages</a>
                                <ul class="header__menu__dropdown">
                                    <li><a href="./shop-details.html">Shop Details</a></li>
                                    <li><a href="./shoping-cart.html">Shoping Cart</a></li>
                                    <li><a href="./checkout.html">Check Out</a></li>
                                    <li><a href="./blog-details.html">Blog Details</a></li>
                                </ul>
                            </li>
                            <li><a href="./blog.html">Blog</a></li>
                            <li><a href="./contact.html">Contact</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-3">
                    <div class="header__cart">
                        <ul>
                            <li><a href="#"><i class="fa fa-heart"></i> <span>1</span></a></li>
                            <li><a href="#"><i class="fa fa-shopping-bag"></i> <span>3</span></a></li>
                        </ul>
                        <div class="header__cart__price">item: <span>$150.00</span></div>
                    </div>
                </div>
            </div>
            <div class="humberger__open">
                <i class="fa fa-bars"></i>
            </div>
        </div>
    </header>
    <!-- Header Section End -->

    <!-- Hero Section Begin -->
    <section class="hero hero-normal">
        <div class="container">
            <div class="row">
            <div class="col-lg-3">
            <div class="hero__categories">
              <div class="hero__categories__all">
                <i class="fa fa-bars"></i>
                <span>Vendors</span>
              </div>
              <ul>
                <% @vendors.each do |vendor| %>
                
                  <li>
                  <%= link_to vendor.first_name, product_vendor_path(vendor) %>
                </li>
                

                <% end %>
              </ul>
            </div>
          </div>
          
                <div class="col-lg-9">
                    <div class="hero__search">
                    <div class="hero__search__form">
                    <form action="#">
                        <div class="hero__search__categories">
                            All Categories
                            <span class="arrow_carrot-down"></span>
                        </div>
                        <%= search_form_for @q, url: products_path do |f| %>
                            <%= f.text_field :product_title_cont, placeholder: "What do you need" %>
                          
                            <%= f.submit "Search" %>
                          
                        <% end %>
                    </form>
                </div>
                
                        <div class="hero__search__phone">
                            <div class="hero__search__phone__icon">
                                <i class="fa fa-phone"></i>
                            </div>
                            <div class="hero__search__phone__text">
                                <h5>+65 11.188.888</h5>
                                <span>support 24/7 time</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Hero Section End -->

    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-section set-bg" data-setbg="<%= asset_path('breadcrumb.jpg') %>">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb__text">
                        <h2>Organi Shop</h2>
                        <div class="breadcrumb__option">
                            <a href="./index.html">Home</a>
                            <span>Shop</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- Product Section Begin -->
    <section class="product spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-5">
                    <div class="sidebar">
                        <div class="sidebar__item">
                            <h4>Vendor</h4>
                            
                        </div>
                        <!-- Price Range Filter -->
                        <%= form_tag products_path, method: :get, id: 'filter-form' do %>
                            <div class="sidebar__item">
                              <h4>Price Range</h4>
                              <div class="price-range-wrap">
                                <!-- Your price range slider implementation goes here -->
                              </div>
                              <div class="range-slider">
                                <div class="price-input">
                                  <%= text_field_tag 'q[price_gteq]', params.dig(:q, :price_gteq), placeholder: 'Min Price' %>
                                  <%= text_field_tag 'q[price_lteq]', params.dig(:q, :price_lteq), placeholder: 'Max Price' %>
                                </div>
                              </div>
                            </div>
                          
                            <!-- Vendor Name Filter -->
                            <!-- Vendor Name Filter with Radio Buttons (Two Names per Row) -->
                            <div class="sidebar__item">
                              <h4>Vendor Name</h4>
                              <div class="sidebar__item__vendor">
                                <label>
                                  <%= radio_button_tag 'q[vendor_id_eq]', '', params.dig(:q, :vendor_id_eq).blank? %>
                                  All Vendors
                                </label>
                                <% @vendors.each_slice(2) do |vendors_slice| %>
                                  <div class="vendor-row">
                                    <% vendors_slice.each do |vendor| %>
                                      <label>
                                        <%= radio_button_tag 'q[vendor_id_eq]', vendor.id, params.dig(:q, :vendor_id_eq) == vendor.id.to_s %>
                                        <%= vendor.first_name %>
                                      </label>
                                    <% end %>
                                  </div>
                                <% end %>
                              </div>
                            </div>
                            <%= submit_tag 'Apply Filter', class: "btn btn-primary" %>

                            <%= button_tag 'Clear Filters', type: :button, id: 'clear-filters', class: "btn btn-danger" %>
                          <% end %>
                          

<!-- Existing code for Colors and Popular Size filters... -->

<div class="col-lg-9">
  <!-- Your existing product display code goes here... -->
</div>

                        <div class="sidebar__item">
                            <div class="latest-product__text">
                                <h4>Latest Products</h4>
                                <div class="latest-product__slider owl-carousel">
                                <% @productdetails.includes(:vendor).limit(6).each_slice(3) do |products_row| %>
                                    <div class="latest-prdouct__slider__item">
                                    <% products_row.each do |product| %>
                                        <a href="<%= product_path(product) %>" class="latest-product__item" data-turbolinks="false">
                                        <div class="latest-product__item__pic">
                                            <% if product.images.attached? %>
                                            <%= image_tag product.images.first.variant(resize_to_limit: [100, 100]), style: "width:70px; height:100px;" %>
                                            <% else %>
                                            <%= image_tag 'avtar1.png', style: "width:70px; height:100px;" %>
                                            <% end %>
                                        </div>
                                        <div class="latest-product__item__text">
                                            <h6><%= product.product_title %></h6>
                                            <span>$<%= product.price %></span>
                                        </div>
                                        </a>
                                    <% end %>
                                    </div>
                                <% end %>
                                   
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9 col-md-7">
                    <div class="product__discount">
                        <div class="section-title product__discount__title">
                            <h2>Sale Off</h2>
                        </div> 
                        <div class="row">
                            <div class="product__discount__slider owl-carousel">
                                <% @productdetails.includes(:vendor).each do |productdetail| %>
                                    <div class="col-lg-4">
                                        <div class="product__discount__item">
                                        <% if productdetail.images.attached? && productdetail.feature_image.present? %>
                                                <% image_url = url_for(productdetail.feature_image) %>
                                        <% else %>
                                                <% if productdetail.images.attached? %>
                                                <% image_url = url_for(productdetail.images.first) %>
                                                <% else %>
                                                <% image_url = asset_path('avtar1.png') %>
                                                <% end %>
                                        <% end %>
                                       
                                      
                                            <div class="product__discount__item__pic set-bg"
                                            data-setbg="<%= image_url %>">
                                                <div class="product__discount__percent">-20%</div>
                                                <ul class="product__item__pic__hover">
                                                    <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                                    <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                                                   
                                                    <% if productdetail.images.attached? %>
                                                    <li><%= link_to product_path(productdetail) , data: { turbolinks: false }  do %>
                                                      <i class="fa fa-shopping-cart"></i>
                                                    <% end %></li>
                                                  <% end %>
                                                </ul>
                                            </div>
                                            <div class="product__discount__item__text">
                                                <span>Dried Fruit</span>
                                                <h5><a href="#"> <%= productdetail.product_title %> </a></h5>
                                                <div class="product__item__price"> <span>$</span><%= productdetail.price %> </div>
                                            </div>
                                         </div>
                                     
                                    </div>
                                <% end %>    
                               
                            </div>
                        </div>
                    </div>
                    <div class="filter__item">
                        <div class="row">
                        <div class="col-lg-4 col-md-5">
                        <div class="filter__sort">
                        <%= search_form_for @q, url: products_path, html: { method: :get, id: 'sorting-form' } do |f| %>
                          <span>Sort By</span>
                          <%= f.select :s, options_for_select(
                            {
                              "Product Title: A to Z" => "product_title asc",
                              "Product Title: Z to A" => "product_title desc",
                              "Price: High to Low" => "price desc",
                              "Price: Low to High" => "price asc"
                            },
                            params.dig(:q, :s)
                          ),
                          {}, class: "sort-dropdown", id: 'sorting-dropdown' %>
                          
                          <%= f.submit 'Apply Filter', style: 'display: none;' %>
                        <% end %>
                      </div>
                      
                      
                      </div>
                      

                      
                            <div class="col-lg-4 col-md-4">
                                <div class="filter__found">
                                    <h6><span>16</span> Products found</h6>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-3">
                                <div class="filter__option">
                                    <span class="icon_grid-2x2"></span>
                                    <span class="icon_ul"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <% @productdetails.includes(:vendor).each do |productdetail| %>
                            <div class="col-lg-4 col-md-6 col-sm-6">
                            
                                    <div class="product__item">
                                    <% if productdetail.images.attached? && productdetail.feature_image.present? %>
                                    <% image_url = url_for(productdetail.feature_image) %>
                                <% else %>
                                    <% if productdetail.images.attached? %>
                                    <% image_url = url_for(productdetail.images.first) %>
                                    <% else %>
                                    <% image_url = asset_path('avtar1.png') %>
                                    <% end %>
                                <% end %>
                                        <div class="product__item__pic set-bg" data-setbg="<%= image_url %>">
                                            <ul class="product__item__pic__hover">
                                                <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                                <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                                                <% if productdetail.images.attached? %>
                                                <li><%= link_to product_path(productdetail) do %>
                                                  <i class="fa fa-shopping-cart"></i>
                                                <% end %></li>
                                              <% end %>
                                            </ul>
                                        </div>
                                        <div class="product__item__text">
                                            <h6><a href="#"><%= productdetail.product_title %></a></h6>
                                            <h5>$<%= productdetail.price %> </h5>
                                        </div>
                                    </div>
                            
                            </div>
                        
                        <% end %>
                            
                        
                       
                        
                        
                       
                       
                       
                        
                        
                        
                    </div>
                    <%= will_paginate @productdetails, data: { turbolinks: false } %>

                    <div class="product__pagination">
                   
                       
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Product Section End -->

    <!-- Footer Section Begin -->
    <footer class="footer spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="footer__about">
                        <div class="footer__about__logo">
                            <a href="./index.html"><img src="img/logo.png" alt=""></a>
                        </div>
                        <ul>
                            <li>Address: 60-49 Road 11378 New York</li>
                            <li>Phone: +65 11.188.888</li>
                            <li>Email: hello@colorlib.com</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 offset-lg-1">
                    <div class="footer__widget">
                        <h6>Useful Links</h6>
                        <ul>
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">About Our Shop</a></li>
                            <li><a href="#">Secure Shopping</a></li>
                            <li><a href="#">Delivery infomation</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Our Sitemap</a></li>
                        </ul>
                        <ul>
                            <li><a href="#">Who We Are</a></li>
                            <li><a href="#">Our Services</a></li>
                            <li><a href="#">Projects</a></li>
                            <li><a href="#">Contact</a></li>
                            <li><a href="#">Innovation</a></li>
                            <li><a href="#">Testimonials</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12">
                    <div class="footer__widget">
                        <h6>Join Our Newsletter Now</h6>
                        <p>Get E-mail updates about our latest shop and special offers.</p>
                        <form action="#">
                            <input type="text" placeholder="Enter your mail">
                            <button type="submit" class="site-btn">Subscribe</button>
                        </form>
                        <div class="footer__widget__social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-pinterest"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="footer__copyright">
                        <div class="footer__copyright__text"><p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
  Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p></div>
                        <div class="footer__copyright__payment"><img src="img/payment-item.png" alt=""></div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->
    <script>
    $(document).ready(function() {
      $('.owl-carousel1').owlCarousel({
            loop: true,
            margin: 0,
            items: 4,
            dots: false,
            nav: true,
            navText: ["<span class='fa fa-angle-left'><span/>", "<span class='fa fa-angle-right'><span/>"],
            animateOut: 'fadeOut',
            animateIn: 'fadeIn',
            smartSpeed: 1200,
            autoHeight: false,
            autoplay: true,
            responsive: {
    
                0: {
                    items: 1,
                },
    
                480: {
                    items: 2,
                },
    
                768: {
                    items: 3,
                },
    
                992: {
                    items: 4,
                }
            }
        });
    
    
    
        $(".latest-product__slider").owlCarousel({
            loop: true,
            margin: 0,
            items: 1,
            dots: false,
            nav: true,
            navText: ["<span class='fa fa-angle-left'><span/>", "<span class='fa fa-angle-right'><span/>"],
            smartSpeed: 1200,
            autoHeight: false,
            autoplay: true
        });
    
        /*-----------------------------
            Product Discount Slider
        -------------------------------*/
        $(".product__discount__slider").owlCarousel({
            loop: true,
            margin: 0,
            items: 3,
            dots: true,
            smartSpeed: 1200,
            autoHeight: false,
            autoplay: true,
            responsive: {
    
                320: {
                    items: 1,
                },
    
                480: {
                    items: 2,
                },
    
                768: {
                    items: 2,
                },
    
                992: {
                    items: 3,
                }
            }
        });
    
        /*---------------------------------
            Product Details Pic Slider
        ----------------------------------*/
        $(".product__details__pic__slider").owlCarousel({
            loop: true,
            margin: 20,
            items: 4,
            dots: true,
            smartSpeed: 1200,
            autoHeight: false,
            autoplay: true
        });

        function clearFilters() {
            $('#filter-form :input').each(function() {
              $(this).val('');
            });
            $('#filter-form').submit();
          }
      
          // Event listener for the "Clear Filters" button
          $('#clear-filters').click(function() {
            clearFilters();
          });
       
      
        $(window).on('load', function () {
         
        });
    });
    
       
    </script>
  