<!DOCTYPE html>
<html>
<head>
  <title>Admin Panel - My App</title>
  <!-- Add your common CSS and meta tags here -->
  <%#= stylesheet_link_tag 'admin', media: 'all' %>
  <%#= javascript_include_tag 'admin' %>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-..." crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.8.0/css/pikaday.min.css">


 
  <%= javascript_pack_tag 'admin', 'data-turbolinks-track': 'reload' %>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.8.0/pikaday.min.js"></script>
</head>
<body>
 
  <header>
    <nav>
    <%= render 'layouts/navbar' %>
    </nav>
  </header>
  <% if flash[:notice].present? %>
  <div class="alert alert-success alert-dismissible">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <p id="notice"><%= flash[:notice] %></p>
  </div>
<% end %>

  
  <%= yield %>

  <!-- Add your common footer, scripts, etc., for admin views -->
  <footer>
   
  </footer>
  
 

</body>
</html>
