<!DOCTYPE html>
<html>
<head>
  <title>Filterbaseproduct</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

  


 
  <!-- Other scripts -->
  
</head>

<body>

  
  <%= yield %>
  <% if flash[:notice].present? %>
  <div class="alert alert-success alert-dismissible">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <p id="notice"><%= flash[:notice] %></p>
  </div>
<% end %>


</body>
</html>

  
  
  
  
  
  
  
  

  
  




