<!DOCTYPE html>
<html>
<head>
  <title>Filterbaseproduct</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-..." crossorigin="anonymous" />
 
 
  

  <%= javascript_pack_tag 'customer', 'data-turbolinks-track': 'reload' %>
  <!-- Replace the local inclusion with the CDN link -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>

 
  <!-- Other scripts -->
  
</head>

<body>

  
  <%= yield %>
  <% if flash[:notice].present? %>
  <div class="alert alert-success alert-dismissible">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <p id="notice"><%= flash[:notice] %></p>
  </div>
<% end %>


</body>
</html>

  
  
  
  
  
  
  
  

  
  




