<!DOCTYPE html>
<html>
<head>
  <title>Filterbaseproduct</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <script src="https://js.stripe.com/v3"></script>




  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  
 
  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-..." crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" integrity="sha512-..." crossorigin="anonymous" />
 
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  
  <%= javascript_pack_tag 'customer', 'data-turbolinks-track': 'reload' %>



  <script>
    var publishableKey = 'pk_test_51NkQmqBmFMBRRena9mxy9ubEOxWw9K4W2Eh69WThTYmzuqMckHBEjiDNirTOWKH5gjDiWx0cuDXFyok2XjthTCBb00L2RKuAKX';
    console.log('Publishable Key:', publishableKey);
    var stripe = Stripe(publishableKey);
  </script>
  
  
  


 
  <!-- Owl Carousel 2.2.1 -->
  <!-- Owl Carousel 2.3.4 -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>

  



 

  
</head>

<body>

  
  <%= yield %>
  <% if flash[:notice].present? %>
  <div class="alert alert-success alert-dismissible">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <p id="notice"><%= flash[:notice] %></p>
  </div>
<% end %>



</body>
</html>

  
  
  
  
  
  
  
  

  
  




